@import "../break_points.scss";

.wrapper {
	display: flex;

	@media #{$screen-large} {
		max-width: large(1200);
		padding: large(80) large(40) large(60);
		margin: 0 auto;
	}

	@media #{$screen-medium-up} {
		max-width: 1200px;
		padding: 80px 40px 60px;
		margin: 0 auto;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.leftCol {
	display: flex;
	justify-content: center;

	@media #{$screen-large} {
		width: 45%;
		flex: 0 0 45%;
	}

	@media #{$screen-medium-up} {
		width: 45%;
		flex: 0 0 45%;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.rightCol {
	display: flex;
	justify-content: center;

	@media #{$screen-large} {
		width: 55%;
		flex: 0 0 55%;
	}

	@media #{$screen-medium-up} {
		width: 55%;
		flex: 0 0 55%;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.avatarContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ecf0f1;

	@media #{$screen-large} {
		width: large(480);
		height: large(480);
		margin-bottom: large(34);
	}

	@media #{$screen-medium-up} {
		width: 480px;
		height: 480px;
		margin-bottom: 34px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.avatarImg {
	height: auto;

	@media #{$screen-large} {
		width: large(455);
	}

	@media #{$screen-medium-up} {
		width: 455px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.socialLinks {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;

	li {
		@media #{$screen-large} {
			margin: 0 large(10);
		}

		@media #{$screen-medium-up} {
			margin: 0 10px;
		}

		@media #{$screen-medium} {
		}

		@media #{$screen-medium-tab} {
		}

		@media #{$screen-small} {
		}

		a {
			display: flex;
		}
	}
}

.socialVK,
.socialFb,
.github {
	@media #{$screen-large} {
		width: large(50);
		height: large(50);
	}

	@media #{$screen-medium-up} {
		width: 50px;
		height: 50px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.habr_career {
	@media #{$screen-large} {
		width: large(164);
		height: large(24);
	}

	@media #{$screen-medium-up} {
		width: 164px;
		height: 24px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.aboutDescription {
	color: #555;

	@media #{$screen-large} {
		font-size: large(16);
		line-height: large(26);
		width: large(560);
		margin: 0 auto large(30);
	}

	@media #{$screen-medium-up} {
		font-size: 16px;
		line-height: 26px;
		width: 560px;
		margin: 0 auto 30px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.chartContainer {
	overflow: hidden;
}

.chartWrapper {
	@media #{$screen-large} {
		margin: 0 large(-90);
	}

	@media #{$screen-medium-up} {
		margin: 0 -90px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}
