@import "../break_points.scss";
.container {
	background: #ecf0f1;
}

.wrapper {
	@media #{$screen-large} {
		max-width: large(1200);
		padding: 0 large(40);
		margin: 0 auto;
		height: large(600);
	}

	@media #{$screen-medium-up} {
		max-width: 1200px;
		padding: 0 40px;
		height: 600px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}
