@import "../break_points.scss";

.container {
	background: #ecf0f1;
}

.wrapper {
	@media #{$screen-large} {
		max-width: large(1200);
		padding: large(80) large(40);
		margin: 0 auto;
	}

	@media #{$screen-medium-up} {
		max-width: 1200px;
		padding: 80px 40px;
		margin: 0 auto;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.sectionTitle {
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;

	@media #{$screen-large} {
		font-size: large(32);
		line-height: large(42);
		margin: 0 0 large(70);
	}

	@media #{$screen-medium-up} {
		font-size: 32px;
		line-height: 42px;
		margin: 0 0 70px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}
