@import "../break_points.scss";

.container {
	background: #ecf0f1;
}

.wrapper {
	display: flex;

	@media #{$screen-large} {
		max-width: large(1200);
		padding: large(90) large(40);
		margin: 0 auto;
	}

	@media #{$screen-medium-up} {
		max-width: 1200px;
		padding: 90px 40px;
		margin: 0 auto;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.skillsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media #{$screen-large} {
		margin: 0 large(-15);
	}

	@media #{$screen-medium-up} {
		margin: 0 -15px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.skill {
	display: flex;
	background: #fff;
	box-sizing: border-box;

	@media #{$screen-large} {
		margin: large(10) large(15);
		width: large(545);
		padding: large(30) large(45);
	}

	@media #{$screen-medium-up} {
		margin: 10px 15px;
		width: 545px;
		padding: 30px 45px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.skillImg {
	@media #{$screen-large} {
		width: large(100);
		height: large(100);
	}

	@media #{$screen-medium-up} {
		width: 100px;
		height: 100px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.skillDescriptionContainer {
	@media #{$screen-large} {
		padding: 0 0 0 large(20);
	}

	@media #{$screen-medium-up} {
		padding: 0 0 0 20px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}

	h4 {
		@media #{$screen-large} {
			font-size: large(22);
			line-height: large(28);
			margin: 0 0 large(10) 0;
		}

		@media #{$screen-medium-up} {
			font-size: 22px;
			line-height: 28px;
			margin: 0 0 10px 0;
		}

		@media #{$screen-medium} {
		}

		@media #{$screen-medium-tab} {
		}

		@media #{$screen-small} {
		}
	}
}

.skillDescription {
	color: #555;
	font-weight: 400;

	@media #{$screen-large} {
		font-size: large(16);
		line-height: large(20);
	}

	@media #{$screen-medium-up} {
		font-size: 16px;
		line-height: 20px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}
