// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@import "./break_points.scss";

html,
body {
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: 0;
	color: #444;
}
