@import "./break_points.scss";

.header {
	position: sticky;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 200;

	@media #{$screen-large} {
	}

	@media #{$screen-medium-up} {
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.headerWrapper {
	@media #{$screen-large} {
	}

	@media #{$screen-medium-up} {
		max-width: 1200px;
		padding: 0 40px;
		margin: 0 auto;
		height: 92px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}

.logoContainer {
	color: #000;

	@media #{$screen-large} {
	}

	@media #{$screen-medium-up} {
		font-size: 36px;
		line-height: 38px;
	}

	@media #{$screen-medium} {
	}

	@media #{$screen-medium-tab} {
	}

	@media #{$screen-small} {
	}
}
